In [1]:
import pandas as pd

# Fifa world cup 2026 fixtures

### We will clean the fixture when the list will be completed

# Data Pre-Processing for Previous Matches

In [2]:
df_historical_data = pd.read_csv("C:/Users/goelp/Desktop/Python Projects/Fifa world cup prediction/Fifa_worldcup_data.csv")

In [5]:
df_historical_data.tail()

           home         score      away  year
924    England            1–2    France  2022
925  Argentina            3–0   Croatia  2022
926     France            2–0   Morocco  2022
927    Croatia            2–1   Morocco  2022
928  Argentina   3–3 (a.e.t.)    France  2022

In [6]:
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)

In [10]:
df_historical_data.shape

(929, 4)

In [14]:
df_historical_data.isnull().sum()

home     0
score    0
away     0
year     0
dtype: int64